<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClosedXML" version="0.95.4" targetFramework="net40" />
  <package id="Crc32.NET" version="1.2.0" targetFramework="net40" />
  <package id="CsvHelper" version="2.16.3.0" targetFramework="net40" requireReinstallation="true" />
  <package id="CsvHelper.Excel" version="1.0.6" targetFramework="net40" />
  <package id="DocumentFormat.OpenXml" version="2.12.1" targetFramework="net40" />
  <package id="EmguCV.221.x64" version="1.5" targetFramework="net40" />
  <package id="ExcelNumberFormat" version="1.1.0" targetFramework="net40" />
  <package id="SharpZipLib" version="1.3.1" targetFramework="net45" />
  <package id="SharpZipLib.NETStandard" version="1.0.7" targetFramework="net45" />
</packages>